@charset "UTF-8";
/*NAV*/
/*Se llama la clase logo, se asigna color, lo centra, y se aplica ancho*/
.logo {
  display: flex;
  /* Contenedor flexible que puede alinear y distribuir elementos dentro de él*/
  background-color: #12455C;
  align-items: center;
  /* El align-items sirve para centrar verticalmente*/
  justify-content: center;
  /* El justify-content sirve para centrar Horizontalmente*/
  height: 60px;
}

.imagenBogota {
  width: 90px;
  height: 60px;
}

.navbar {
  padding: 0%;
}

.nav-item {
  padding-right: 30px;
}

.nav-link {
  color: #fff;
}

.container-fluid {
  background-color: #14708A;
  opacity: 85%;
}

.banner {
  height: 350px;
  width: 100%;
  padding: 0%;
  margin-top: -22px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*INDEX*/
.index {
  background-image: url("../imagenes/index/fondoPantalla.jpeg");
}

.acontecimientosImp {
  background-image: url("../imagenes/index/acontecimientosFondo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tituloIndex {
  text-align: center;
}

.contenderoPrincipal {
  height: 550px;
  display: flex;
  padding: 0%;
  margin-top: 0%;
}

.contenedorIndex {
  width: 50%;
  height: 100%;
  margin: auto;
}

.masInfo {
  text-decoration: none;
  color: #fff;
}

.artesaniaIndex {
  display: flex;
  margin-top: 20px;
  background-image: url("../imagenes/artesanias/fondoArtesanias.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.arteDescripcion {
  width: 50%;
}
.arteDescripcion h2,
.arteDescripcion p {
  margin-left: 30px;
}

.conoceMas {
  margin-left: 30px;
}

.galeriaindex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 10%;
}
.galeriaindex img {
  height: 300px;
}

.guiaUtilIndex {
  height: 600px;
  background-image: url("../imagenes/guia/fondoGuia.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tituloUtilIndex {
  color: #14708a;
  text-align: center;
}

.subtituloUtilIndex {
  color: black;
  text-align: center;
}

.columnas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.columnas img {
  height: 350px;
  width: 250px;
  display: block;
  margin: auto;
}

.columna_dos {
  margin-left: -70px;
  margin-right: 50px;
}

.columna_tres {
  margin-left: -10px;
  margin-right: 30px;
}

.botonIndexGuia {
  border: none;
  color: black;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #ff9800;
}
.botonIndexGuia:hover {
  background: #e68a00;
  color: white;
}

#intento {
  border: 1px, solid, none;
  background-color: #000;
  opacity: 70%;
}

.d-block {
  height: 500px;
}

/*Artesanias*/
.artesanias {
  background-image: url(../imagenes/artesanias/bannerArtesanias.jpeg);
}

.artesaniastituloPrincipal {
  display: flex;
}

.bannerArtesanias p {
  width: 30%;
  color: #fff;
  margin-left: 40px;
  background-color: rgba(0, 0, 0, 0.4352941176);
  margin-top: 10px;
}

.tituloArtesanias {
  margin-left: 40px;
  margin-top: 40px;
  padding-right: 350px;
  padding-left: 10px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  background: linear-gradient(90deg, rgba(50, 50, 50, 0.843), rgba(232, 124, 8, 0.258));
  color: #fff;
}

.bannerArtesanias img {
  width: 40px;
  height: 40px;
}

.buscadorArtesanias {
  margin-left: 8%;
  width: 30%;
  border: 1px solid #000;
  padding: 0.5%;
  border-radius: 5px;
}

.artesaniasBuscar {
  border: none;
  color: black;
  padding: 0.5%;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #ff9800;
}
.artesaniasBuscar:hover {
  background: #e68a00;
  color: white;
}

.artesaniasDer {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.artesaniasInformacion {
  background-image: url(../imagenes/artesanias/fondoArtesanias.png);
}

.cajaDer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  padding: 1%;
  margin-bottom: 40px;
}
.cajaDer img {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}
.cajaDer p {
  color: #000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  width: 50%;
  text-align: center;
}
.cajaDer button {
  border: none;
  color: black;
  padding: 0.5%;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #ff9800;
}
.cajaDer button:hover {
  background: #e68a00;
  color: white;
}

.artesaniasCuenta,
.artesaniasFavoritos {
  border: none;
  color: black;
  padding: 0.5%;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
}

.artesaniasMercado {
  width: 25px;
  height: 25px;
}

.Cuenta {
  display: flex;
  justify-content: right;
  margin-right: 40px;
}
.Cuenta a {
  margin: 10px;
  padding: 20px;
  margin-top: -90px;
  text-decoration: none;
  color: #e68a00;
}
.Cuenta a:hover {
  color: #000;
}

/*FORMULARIO*/
.formulario {
  margin-left: auto;
  margin-right: 300px;
  margin-top: 100px;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.85);
  opacity: 85%;
  border-radius: 5px;
}
.formulario form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario input {
  margin: 20px;
  margin-top: 30px;
  border: 1px solid black;
}
.formulario textarea {
  margin: 20px;
  margin-top: 10px;
  resize: none;
  width: 60%;
  height: 60px;
  border: 1px solid black;
}

.tituloContactenos {
  text-align: center;
  font-size: 50px;
}

.enviar[type=submit] {
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}
.enviar[type=submit]:hover {
  background-color: black;
  color: white;
}

.bodyContactenos {
  background-image: url("../imagenes/contactenos/fondoContactenos.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.copyRightContactenos {
  text-align: center;
  color: #fff;
}

.bodyGuia {
  background-image: url("../imagenes/guia/fondoGuia.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyRight {
  text-align: center;
}

/* ------------------------- Gastronomia ------------------------------*/
.gastronomia {
  background-image: url(../imagenes/gastronomia/bannerGastronomia.jpeg);
  background-position: top;
}

.gastronomiatituloPrincipal {
  display: flex;
}

.tituloBanner p {
  width: 30%;
  color: #fff;
  margin-left: 40px;
  background-color: rgba(0, 0, 0, 0.5960784314);
  margin-top: 10px;
}

.tituloGastronomia {
  margin-left: 40px;
  margin-top: 40px;
  padding-right: 350px;
  padding-left: 10px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  background: linear-gradient(90deg, rgba(50, 50, 50, 0.843), rgba(232, 124, 8, 0.815));
  color: #fff;
}

.tituloBanner img {
  width: 40px;
  height: 40px;
}

.alterno {
  display: flex;
  justify-content: center;
  text-align: center;
}

.gastronomiaInformativo {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 250px;
  height: 300px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3411764706);
  background-color: rgba(242, 242, 242, 0.779);
  box-shadow: -3px -3px rgba(64, 64, 64, 0.237);
  padding: 10px;
}

#gastronomiaBorde {
  border: 1px solid rgba(0, 0, 0, 0.3411764706);
  border-top-left-radius: 60px;
  background-color: rgba(242, 242, 242, 0.779);
}

#gastronomiaBordeUltimo {
  border: 1px solid rgba(0, 0, 0, 0.3411764706);
  border-bottom-right-radius: 60px;
  background-color: rgba(242, 242, 242, 0.779);
}

.iconoInformativo img {
  width: 60px;
  height: 60px;
}

.buscadorGastronomia {
  margin-left: 8%;
  width: 40%;
  border: 1px solid #000;
  padding: 0.5%;
  border-radius: 5px;
  text-align: center;
}

.buscarGastronomia {
  text-align: center;
  justify-content: center;
}

.botonBuscar {
  width: 10%;
  border: none;
  padding: 0.5%;
  border-radius: 5px;
  text-align: center;
  background: linear-gradient(90deg, rgba(50, 50, 50, 0.843), rgba(232, 124, 8, 0.815));
  color: #fff;
}

.restaurantes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px 10%;
  justify-content: center;
  border-radius: 30px;
}

.restauranteTarjeta {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 200px;
  height: 250px;
  font-size: 10px;
  background-color: rgba(237, 232, 232, 0.669);
  box-shadow: 10px 10px rgba(214, 214, 214, 0.885);
  border-radius: 30px;
  justify-content: center;
  text-align: center;
  margin: 30px;
}

.logoRestaurante img {
  width: 50px;
  height: 50px;
  margin-top: -25px;
}

.direccionRestaurante {
  display: flex;
}
.direccionRestaurante img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

/*GUIA UTIL*/
.guia {
  background-image: url(../imagenes/guia/fondoBannerGuia.jpeg);
}

.guiatituloPrincipal {
  display: flex;
}

.bannerGuia p {
  width: 30%;
  color: #fff;
  margin-left: 40px;
  background-color: rgba(0, 0, 0, 0.5960784314);
  margin-top: 10px;
}

.tituloGuia {
  margin-left: 40px;
  margin-top: 40px;
  padding-right: 350px;
  padding-left: 10px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  background: linear-gradient(90deg, rgba(246, 0, 0, 0.843), rgba(232, 225, 8, 0.456));
  color: #fff;
}

.bannerGuia img {
  width: 40px;
  height: 40px;
}

.carruselGuia {
  width: 75%;
  justify-content: center;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.307);
}

.tituloGuia {
  text-align: center;
}

.aplicaciones {
  background-image: url(../imagenes/guia/fondoAplicacion.jpeg);
}
.aplicaciones h2 {
  text-align: center;
  color: #fff;
}

.aplicacionesBogota {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 10px;
  justify-content: center;
  margin: auto;
}

.aplicacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid #fff;
  border-radius: 20px;
  margin: 10px;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.422);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.501);
  animation: moverAplicacion 3s ease-in-out infinite alternate;
}
.aplicacion:hover {
  border: 2px solid #cd0505;
  border-radius: 30px;
  align-items: center;
  color: #f7f142;
  background-color: rgba(0, 0, 0, 0.422);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.501);
  cursor: pointer;
}

@keyframes moverAplicacion {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px);
  }
}
.aplicaciondescripcion h2 {
  text-align: center;
}

.aplicacionImagen img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.transportePublicoTitulo,
.card-title {
  text-align: center;
}

.tiposTransPublico a {
  text-decoration: none;
  color: #14708a;
}

/*Media Queries de Index*/
/* Index */
@media (max-width: 1292px) {
  .artesaniaIndex {
    background-image: url("../imagenes/artesanias/fondoArtesanias.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
  }
  .arteDescripcion {
    display: block;
    width: 90%;
  }
  .arteDescripcion h2 {
    margin-top: 20px;
    text-align: center;
  }
  .conoceMas {
    margin-bottom: 20px;
  }
  .galeriaindex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    justify-content: right;
  }
  .galeriaindex img {
    height: 300px;
  }
  .contenedorIndex {
    display: block;
    width: 100%;
    height: 764px;
  }
  .contenderoPrincipal {
    height: 400px;
  }
  .carousel-inner img {
    height: 400px;
    width: 100%;
  }
  .guiaUtilIndex {
    display: block;
    height: auto;
  }
  .columnas {
    display: block;
    height: auto;
    padding: 10px;
  }
  .columna_dos {
    margin-left: 0px;
    margin-right: 0px;
  }
  .columna_tres {
    margin-left: 0px;
    margin-right: 0px;
  }
  .columna {
    margin: 10px;
  }
  /* Contactenos */
  .formulario {
    display: block;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: auto;
    margin-top: 30px;
  }
  .formulario form input {
    width: 50%;
  }
  .tituloContactenos {
    text-align: center;
    font-size: 30px;
  }
  /* Artesanias */
  .bannerArtesanias {
    background-image: url(../imagenes/artesanias/bannerArtesanias.jpeg);
    height: 250px;
    width: 100%;
    padding: 0%;
    margin-top: -22px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
  .bannerArtesanias p {
    display: none;
  }
  .tituloArtesanias {
    width: 100%;
    margin-left: 0;
  }
  .bannerArtesanias img {
    display: none;
  }
  .buscadorArtesanias {
    display: none;
  }
  .artesaniasBuscar {
    display: none;
  }
  .artesaniasBuscar:hover {
    display: none;
  }
  .cajaIzq_c2,
  .cajaIzq_c1,
  .cajaIzq_c3 {
    display: block;
    width: 100%;
  }
  .artesaniasDer {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .cajaDer {
    display: block;
    width: 100%;
  }
  .cajaDer img {
    width: 150px;
    height: 200px;
  }
  /*GUIA UTIL*/
  .guiatituloPrincipal {
    display: flex;
  }
  .bannerGuia p {
    display: none;
  }
  .tituloGuia {
    width: 100%;
    margin-left: 0;
    font-size: 10px;
    text-align: left;
  }
  .bannerGuia img {
    display: none;
  }
  .carruselGuia {
    width: 100%;
    justify-content: center;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.307);
    margin-top: -50px;
  }
  .aplicaciones {
    background-image: url(../imagenes/guia/fondoAplicacion.jpeg);
  }
  .aplicaciones h2 {
    text-align: center;
    color: #fff;
  }
  .aplicacionesBogota {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    margin: 10px;
    justify-content: center;
    margin: auto;
  }
  .aplicacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid #fff;
    border-radius: 20px;
    margin: 10px;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.422);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.501);
    animation: moverAplicacion 3s ease-in-out infinite alternate;
  }
  .aplicacion:hover {
    border: 2px solid #cd0505;
    border-radius: 30px;
    align-items: center;
    color: #f7f142;
    background-color: rgba(0, 0, 0, 0.422);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.501);
  }
  @keyframes moverAplicacion {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(20px);
    }
  }
  .aplicaciondescripcion h2 {
    text-align: center;
  }
  .aplicacionImagen img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
  }
  .tiposDeTransporte {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .transportePublico h2 {
    text-align: center;
  }
  .transporteuno,
  .transportedos,
  .transportetres {
    padding: 30px;
    height: 400px;
    text-align: center;
    border: 3px dashed #12455c;
    border-radius: 10px;
  }
  .transporteuno img {
    width: 100px;
    height: 100px;
  }
  .transportedos img {
    width: 200px;
    height: 100px;
  }
  .transportetres img {
    width: 150px;
    height: 100px;
  }
  .transporteuno a,
  .transportedos a,
  .transportetres a {
    text-decoration: none;
  }
  /* Gastronomia */
  .tituloBanner {
    background-image: url(../imagenes/gastronomia/bannerGastronomia.jpeg);
    height: 250px;
    width: 100%;
    padding: 0%;
    margin-top: -22px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .tituloBanner p {
    display: none;
  }
  .tituloGastronomia {
    width: 100%;
    margin-left: 0;
    font-size: 10px;
    text-align: left;
  }
  .tituloBanner img {
    display: none;
  }
  .alterno {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin: auto;
    text-align: center;
  }
  .gastronomiaInformativo {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3411764706);
    background-color: rgba(242, 242, 242, 0.779);
    box-shadow: -3px -3px rgba(64, 64, 64, 0.237);
  }
  #gastronomiaBorde {
    border: 1px solid rgba(0, 0, 0, 0.3411764706);
    border-top-left-radius: 60px;
    background-color: rgba(242, 242, 242, 0.779);
  }
  #gastronomiaBordeUltimo {
    border: 1px solid rgba(0, 0, 0, 0.3411764706);
    border-bottom-right-radius: 60px;
    background-color: rgba(242, 242, 242, 0.779);
  }
  .iconoInformativo img {
    width: 60px;
    height: 60px;
  }
  .buscadorGastronomia {
    margin-left: 8%;
    width: 40%;
    border: 1px solid #000;
    padding: 0.5%;
    border-radius: 5px;
    text-align: center;
  }
  .buscarGastronomia {
    text-align: center;
    justify-content: center;
  }
  .botonBuscar {
    width: 10%;
    border: none;
    padding: 0.5%;
    border-radius: 5px;
    text-align: center;
    background: linear-gradient(90deg, rgba(50, 50, 50, 0.843), rgba(232, 124, 8, 0.815));
    color: #fff;
  }
  .restaurantes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 10%;
    justify-content: center;
    border-radius: 30px;
  }
  .restauranteTarjeta {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    width: 200px;
    height: 250px;
    font-size: 10px;
    background-color: rgba(237, 232, 232, 0.669);
    box-shadow: 10px 10px rgba(214, 214, 214, 0.885);
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    margin: 30px;
  }
  .logoRestaurante img {
    width: 50px;
    height: 50px;
    margin-top: -25px;
  }
  .direccionRestaurante {
    display: flex;
  }
  .direccionRestaurante img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
