/*Se llama la clase logo, se asigna color, lo centra, y se aplica ancho*/
.logo {

    display: flex;
    /* Contenedor flexible que puede alinear y distribuir elementos dentro de él*/
    background-color: #12455C;
    align-items: center;
    /* El align-items sirve para centrar verticalmente*/
    justify-content: center;
    /* El justify-content sirve para centrar Horizontalmente*/
    height: 60px;
}

.imagenBogota {
    width: 90px;
    height: 60px;

}







/*FORMULARIO*/


.formulario {


    margin-left: auto;
    margin-right: 300px;
    margin-top: 100px;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.85);
    opacity: 85%;
    border-radius: 5px;
}


.formulario form {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario input {

    margin: 20px;
    margin-top: 30px;
    border: 1px solid black;

}

.formulario textarea {
    margin: 20px;
    margin-top: 10px;
    resize: none;
    width: 60%;
    height: 60px;
    border: 1px solid black;

}


.tituloContactenos {

    text-align: center;
    font-size: 50px;


}

.enviar[type="submit"] {
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.enviar[type="submit"]:hover {
    background-color: black;
    color: white;
}

.bodyContactenos {

    background-image: url("../imagenes/fondoContactenos.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.copyRightContactenos {

    text-align: center;
    color: #fff;
}



.bodyGuia {

    background-image: url("../imagenes/guia/fondoGuia.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.video {

    display: flex;
    justify-content: center;
    align-items: center;
}


.copyRight {

    text-align: center;

}


.tituloArtesanias {
    text-align: center;


}


/*Gastronomia*/

.contGastro {
    display: flex;
    justify-content: space-between;


}

.chancha {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;

}

.chancha h2 {
    margin: 0;
}

.chanchaImg {

    padding: 30px;
}

.izqGastro {
    border-right: 1px solid black;
    padding-right: 10px;
    text-align: center;
    flex: 1;
}

.derGastro {

    text-align: left;
    padding: 100px;
    flex: 1;
}


/*Artesanias*/


.bodyArtesanias {

    background-image: url("../imagenes/artesanias/fondoArtesanias.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.tituloArtesanias {

    text-align: center;
}

.contenedorArtesania {

    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.artesaniasIzq {

    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(3, 1fr);

}


.cajaIzq_c2,
.cajaIzq_c3 {


    width: 60%;
    margin: 5px;
    padding: 1%;


}


.cajaIzq_c1 {

    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 5px;
    padding: 1%;
    justify-content: center;
    align-items: center;

}


.buscadorArtesanias {

    width: 50%;
    border: 1px solid #000;
    padding: 1%;
    border-radius: 5px;


}

.cajaIzq_c2 p {

    text-align: left;

}

.cajaIzq_c3 img {

    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.artesaniasDer {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}


.cajaDer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    padding: 1%;
}

.cajaDer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.cajaDer p {
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}


/*Index*/



.navbar {

    padding: 0%;

}


.nav-item {

    padding-right: 30px;
}

.nav-link {

    color: #fff;
}


.container-fluid {

    background-color: #14708A;
    opacity: 85%;

}


.tituloIndex {

    text-align: center;

}

.contenderoPrincipal {
    height: 650px;
    display: flex;
    padding: 0%;
    margin-top: 0%;


    background-image: url("../imagenes/index/fondoPantalla.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 100%;
}

.contenedorIndex {

    width: 30%;
    margin: auto;

}


.masInfo {

    text-decoration: none;
    color: #fff;


}


.artesaniaIndex {

    display: flex;

    background-image: url("../imagenes/artesanias/fondoArtesanias.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.arteDescripcion {

    width: 50%;

}

.arteDescripcion h2,
p {

    margin-left: 30px;

}

.conoceMas {

    margin-left: 30px;
}



.galeriaindex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    ;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 10%;
}

.galeriaindex img {

    height: 300px
}




.guiaUtilIndex {

    height: 600px;
    background-image: url("../imagenes/guia/fondoGuia.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.tituloUtilIndex {

    color: #14708A;
    text-align: center;
}

.subtituloUtilIndex {

    color: black;
    text-align: center;
}

.columnas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 400px;
}

.columnas img {

    height: 350px;
    width: 300px;
    display: block;
    margin: auto;
}

.botonIndexGuia {

    border-radius: 5px;
    background-color: #FEF5B3;
    padding: 10px;
}


#intento {

    border: 1px, solid, none;
    background-color: #000;
    opacity: 70%;
}


/* MANTENIMIENTO */

.mantenimiento {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}




/*Media Queries de Index*/

/* Index */

@media (max-width: 767px) {

    .artesaniaIndex {


        background-image: url("../imagenes/artesanias/fondoArtesanias.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: block;


    }

    .arteDescripcion {
        display: block;
        width: 90%;
    }

    .arteDescripcion h2 {

        margin-top: 20px;
        text-align: center;
    }


    .conoceMas {

        margin-bottom: 20px;
    }



    .galeriaindex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        ;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        justify-content: right;
    }

    .galeriaindex img {

        height: 300px;
    }

    .contenedorIndex {
        display: block;
        width: 100%;
        height: 764px;
    }

    .tituloIndex {

        display: none;
    }

    .contenderoPrincipal {

        height: 400px;
    }

    .carousel-inner img {

        height: 400px;
        width: 100%;

    }


    .guiaUtilIndex {

        display: block;
        height: auto;

    }

    .columnas {

        display: block;
        height: auto;
        padding: 10px;

    }

    .columna {

        margin: 10px;
    }


    /* Contactenos */
    .formulario {
        display: block;
        width: 50%;
        height: 50%;
        align-items: center;
        margin: auto;
        margin-top: 30px;

    }

    .formulario form input {

        width: 50%;
    }

    .tituloContactenos {

        text-align: center;
        font-size: 30px;
    }

    /* Artesanias */

    .contenedorArtesania {

        display: block;
        width: 100%;
    }

    .artesaniasIzq {

        display: block;
        width: 100%;
    }

    .cajaIzq_c2,
    .cajaIzq_c1,
    .cajaIzq_c3 {


        display: block;
        width: 100%;

    }



    .artesaniasDer {

        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .cajaDer {

        display: block;
        width: 100%;
    }

    .cajaDer img {
        width: 300px;
        height: 200px;


    }




}